Flask 
pythainlp
numpy
transformers
torch
protobuf
sentencepiece
anthropic
python-dotenv
mlflow
pandas
openai
datasets
peft
trl
bitsandbytes
huggingface_hub
requests
llama-cpp-python
chromadb
sentence-transformers
langchain-community
google-genai
unsloth
xformers